:root{
    --color-primary-moderateViolet:hsl(263, 55%, 52%);
    --color-primary-veryDarkGrayishBlue:hsl(217, 19%, 35%);
    --color-primary-veryDarkBlackishBlue:hsl(219, 29%, 14%);
    --color-primary-white:hsl(0, 0%, 100%);

    --color-neutral-lightGray:hsl(0, 0%, 81%);
    --color-neutral-light-grayishBlue: hsl(210, 46%, 95%);
}

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.grid{


}
.card{
    border-radius: 5px;
}
.card__author{

}
.card__author > img{
    border-radius: 50%;
    border-width: 1px;
    width: 20px;
    border-style: solid;
}
.card__author > h3{

}
.card__author > p{
    opacity: .5;

}
.card__title{

}

.card__text{
    font-weight: 600;
    opacity: .7;

}


.card:nth-child(1){
    background-color: var(--color-primary-moderateViolet);
    color: var(--color-primary-white);
   
}
.card:nth-child(1) img{
    border-color:  var(--color-primary-moderateViolet);
}
.card:nth-child(2){
    background-color: var(--color-primary-veryDarkGrayishBlue);
    color: var(--color-primary-white);
}
.card:nth-child(2) img{
    border-width: 0;
   
}

.card:nth-child(3){
    background-color: var(--color-primary-white);
}
.card:nth-child(3) img{
    border-width: 0;
}
.card:nth-child(4){
    background-color:var(--color-primary-veryDarkBlackishBlue);
    color: var(--color-primary-white);
    
}
.card:nth-child(4) img{
border-color: var(--color-primary-moderateViolet);
}
.card:nth-child(5){
    background-color: var(--color-primary-white);
}
.card:nth-child(5) img{
    border-width: 0;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }